.error{
    margin: 6.2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 0.5rem;
}

.error h1{
    font-size: 1.5rem;

}

.error h3{
    font-size: 1.05rem;
    
}